{
"occ_schedule": [6,18], # List with start and end time. 
"setpoints": {"OccHeat": 68,
                "OccCool": 72,
                "UnoccHeat": 60.1,
                "UnoccCool": 84.9,
                "PCHeat": 64,
                "PCCool": 70,
                "LSHeat": 64,
                "LSCool": 77} ,
"sheet_url": "https://docs.google.com/spreadsheets/d/1dRdcgAymZS-dd-LYzmpxijuCuABZlNbnTMiwsI9uDfU/edit#gid=0" ,
"database":
    {
        "user": "openbos" ,
        "passwd": "nys3rda2022da+a$tore!" ,
        "host": "localhost" , # lbnl-btm-drl.lbl.gov:9003
        "port": "9003" ,
        "database": "syracuse"
    }
}